name: "Release Please"

on:
  push:
    branches:
      - main  # workflow triggers on pushes to main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: main  # make sure we start from main

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Release Please
        uses: google-github-actions/release-please-action@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          package-name: cmms12
          release-branch: changelog  # <- force changelog branch
